:root {
    --bg-colour-light: #f6f6f6;
    --bg-colour-light-ish: rgba(0, 0, 0, 0.1);
    --text-colour-light: white;

    --bg-colour-dark-transparent: #252525a6;
    --bg-colour-dark-transparent-hover: #252525e3;
    --text-colour-dark: black;

    --bg-colour-submit: rgba(16, 130, 211, 0.637);
}


::-webkit-scrollbar {
    width: 12px;
}

#habitshere::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#habitshere::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
}

#habitshere::-webkit-scrollbar-thumb {
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.navigation {
    background-color: var(--bg-colour-light);
}

.navigation .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation img {
    height: 55px;
}

/*
 * DASHBOARD
*/

.box {
    border-radius: 25px;
    padding: 10px 15px;
    margin: 5px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158); */
    /* alt shadow style */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);

    height: 100%;
}

/*
 * TASKS
*/

.task,
.top-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin: 10px 0px;
    background-color: var(--bg-colour-light);
    padding: 10px;
    border-radius: 20px;
}

.task .circle {
    height: 30px;
    width: 30px;

    margin: 0px 5px;

    border-radius: 100%;

    background: radial-gradient(circle, rgb(217, 243, 255) 20%, rgb(255, 145, 0) 100%);

    box-shadow: 0px 0px 5px 5px rgba(255, 251, 0, 0.1)
}

.task .selected {
    animation-name: gradient;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}

@keyframes gradient {
    from {
        background: radial-gradient(circle, rgb(217, 243, 255) 20%, rgb(255, 145, 0) 100%);

        box-shadow: 0px 0px 5px 5px rgba(255, 251, 0, 0.1)
    }

    to {
        background: radial-gradient(circle, rgb(217, 243, 255) 20%, rgb(21, 255, 0) 100%);
        box-shadow: 0px 0px 5px 5px rgba(0, 174, 255, 0.1);
        transform: scale(1.25)
    }
}

.task .task-name {
    width: 48%;
}

.task-gradient {
    background: linear-gradient(90deg, rgba(0, 170, 184, 1) 0%, rgba(73, 192, 203, 1) 90%, rgba(244, 244, 246, 1) 100%, rgba(244, 244, 246, 1) 100%);
}

/* .task .streak {
    width: 25px;
    height: 25px;

    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
} */

.task .streak {
    /* display: flex;
    align-items: center; */
    transform: translateY(-15px)
}

.task .streak-number {
    position: relative;
    text-align: center;
    width: 33px;
    /* Same width as the fire */
    top: 40px;
    z-index: 1;
}

.task .options {
    font-size: 25px;
}

.add-task {
    margin-top: 23px;
    background-color: var(--bg-colour-submit);
    padding: 10px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task .add-icon {
    font-size: 23px;
    font-weight: bold;
    color: var(--text-colour-light);
}

/*
 * CHART
*/
canvas {
    min-height: 20vh;
    max-height: 35vh;
}

.chart {
    background-color: rgba(255, 247, 213, 0.5);
    padding: 1rem;
    border-radius: 25px;

}

/* #myChart {
    height: 100%;
} */


/*
 * FOOTER
*/

.footer_style {
    background-color: var(--bg-colour-light);
    padding: 0.2rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* height:60px;   Height of the footer */
}

.speech-bubble {
    position: relative;
    background: #fffcce;
    border-radius: .4em;
    vertical-align: center;
    float: none;
    display: inline-block;
    text-align: center;
    margin-left: 2em;
    border-width: 0pt;
    border-color: black;
    padding: 0px 10px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1.5em solid transparent;
    border-right-color: #fffcce;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.75em;
    margin-left: -1.5em
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 130px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    /* background-color: var(--bg-colour-light);*/
}

.form-item {
    display: flex;
    flex-direction: column;

    margin: 15px;
}

.form-item label {
    text-align: center;
    font-size: 17px;
}

.form-item input {
    background-color: var(--bg-colour-dark-transparent);
    color: var(--text-colour-light);

    border: none;
    border-radius: 25px;

    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
}

.form-item input::placeholder {
    color: var(--text-colour-light);
}

.form-item input:focus {
    outline: none;

    background-color: var(--bg-colour-dark-transparent-hover);
}

.form-item button {
    border: none;
    border-radius: 25px;

    color: var(--bg-colour-light);

    font-size: 20px;
    padding: 10px;

    background-color: var(--bg-colour-submit);
}

.form-item p {
    text-align: center;
}

.form-item h1 {
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;

    margin-top: -90px;
    margin-right: 50px;

    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.habit-info-holder {
    margin-top: 1%
}

#habitshere {
    height: 70vh;
    overflow: auto;
    padding: 20px;
}

#chart-box {
    height: 70vh;
}


#habit-title {
    margin-bottom: 20px;
    text-align: center;
}

#mesaji {
    font-size: 1.5rem;
}

.habit-info-holder .col div {
    text-align: center;
    padding: 5px;
}

#task-holder .box {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1)
}

.increments {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}

.increments i {
    margin-top: 5px;
}

.increments input {
    width: 35%;
    height: 3%;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}



.task .task-name {
    text-align: center;
    font-weight: bolder;
    mix-blend-mode: normal;
}

.task .top-task {
    width: 100%;
}

.task h1 {

    text-align: center;
    font-size: 1.5rem;
}

.fire-moving {
    margin-left: 1px;
    width: 30px;
    height: 40px;
    background-image: url('../images/svg/fire-moving.svg');
    z-index: 0;
}

.fire-weekly {
    filter: hue-rotate(120deg)
}

.fire-monthly {
    filter: hue-rotate(240deg)
}

#beaver-div {}

.hidden {
    display: none !important;
}

.progress-box {
    text-align: center;
}

#delete-button {
    background-color: red;
}